<!-- <div class="popup-dialog">โปรโมชั่นปัจจุบันเต็มแล้ว กรุณาลบโปรโมชั่นปัจจุบันออกก่อนทำรายการ</div> -->
<h2 class=".mat-h2">โปรโมชั่นปัจจุบันเต็มแล้ว กรุณาลบโปรโมชั่นปัจจุบันออกก่อนทำรายการ</h2>

<!--
    <p></p>
    <div fxLayout="row wrap" fxLayoutGap="5px grid">
        <div fxFlex="20%" fxFlex.xs="50%" fxFlex.sm="10%" *ngFor="let promotionDetail of promotionDetailsReplace">
            <mat-card class="mat-elevation-z4" >
                <mat-card-content>{{promotionDetail.flowerFormula.name}}</mat-card-content>
                <img class="main-image-dialog" mat-card-image src={{promotionDetail.flowerFormula.imagePath}}>
                <mat-card-actions>
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" (click)="getIdFlowerReplace(promotionDetail.id)" (click)="openDialog()">แทนที่</button>
                    </div>
                </mat-card-actions>
            </mat-card>  
        </div>
     </div>
-->
