
.content {
  padding: 16px;
}

.content mat-card {
  margin-bottom: 16px;
}

.main-image {
  height: 150px;
  object-fit: contain;
}

.mat-elevation-z4 mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.mat-elevation-z4 mat-card-title {
  font-size: 1.2em;
}

mat-card-content {
  font-size: 1em;
}

.main-card .main-header .main-title {
  font-weight: bold;
  font-size: x-large;
}

.main-card .main-header {
  padding: 16px;
}

mat-card-actions {
  padding: 16px;
}

.center {
  display: block;
}

.image-list {
    flex-wrap: wrap;
    margin-left: 1.2em;
    margin-right: auto;
}
  
.image-list__item {
    display: block;
    height: 160px;
    width: 150px;
    margin: 5px;
}

.image-list-item__image {
    border-radius: 5px;
}

.image-list-item {
    position: relative;
    box-sizing: border-box;
}

.main-image-list {
    display: block;
}

.example-card {
  height: 330px;
  margin: 4px;
  object-fit: contain;
  background: rgb(255, 255, 255);
}