/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Kanit', sans-serif !important;
}
body [class^='mat-icon'], body [class*='mat-icon'] {
    font-family: 'Material Icons' !important;
}
body [class^='mat-'], body [class*='mat-'] {
    font-family: 'Kanit', sans-serif;
}